/* Main content */

.app-wrapper {
    display: flex;
    flex-direction: column;
}
.app-wrapper>.app-top{
    height: 100%;
}
/* nav */
.app-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #313131;
}

.app-nav>* {
    flex-grow: 1;
}

.app-top {
    display: flex;
    flex-direction: row;
    background: linear-gradient(#000, #313131);
}

/* nav */
/* Couleurs de fond */
.app-content {
    background: none;
}

.app-content .album {
    background: none;
}

.app-content .tracklist {
    background: none;
}

/* Couleurs de fond */
.app-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.album {
    display: flex;
    flex-direction: row;
}

.tracklist {
    display: flex;
    flex-direction: column;
}

.tracklist>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Main content */
/* Footer content */
.app-bottom {
    display: flex;
    flex-direction: row;
    background-color: #313131;
}

.app-bottom>.current {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #313131;
}

.app-bottom>.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #313131;
}

.controls>* {
    padding-left: 2vw;
    flex-grow: 1;
}

/* Footer content */